*{
	margin:0;
	padding:0;
	font-family: "Roboto" sans-serif;
}
body{
	background: #222242;
}


@-webkit-keyframes rotate{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}

@-webkit-keyframes fadeOut{
	0%{
		-webkit-transform:scale(0);
	}
	50%{
		-webkit-transform:scale(1);opacity: 0.1;
	}
	100%{
		-webkit-transform:scale(.1);opacity: 0.8;
	}
}
@-webkit-keyframes strechdelay{
	0%,50%,100%{
		-webkit-transform:scaleY(.4);
	}
	20%{
		-webkit-transform:scaleY(1);
	}
}





/*loading5动画*/
@-webkit-keyframes bigSqrShrink{
	0%,90%{
		-webkit-transform:scale(1);
	}
	100%{
		-webkit-transform:scale(0.3);
	}
}
@-webkit-keyframes drop1{
	0%{
		-webkit-transform:translateY(-50px);
	}
	50%{
		-webkit-transform:translate(0) ;
	}
	100%{
		-webkit-transform:translate(0);
		opacity: 0.1;
	}
}
@-webkit-keyframes drop2{
	0%{
		-webkit-transform:translateY(-50px);
	}
	75%{
		-webkit-transform:translate(0);
	}
	100%{
		-webkit-transform:translate(0);
		opacity: 0.8;
	}
}

@-webkit-keyframes drop4{
	0%{
		-webkit-transform:translateY(-50px);
	}
	25%{
		-webkit-transform:translate(0);
	}
	100%{
		-webkit-transform:translate(0);
		opacity: 0.3;
	}
}


/*loading6动画*/
@-webkit-keyframes loading6{
	0%{
		-webkit-transform:scaleY(0.05) translateX(-10px);
		opacity: 0.1
	}
	50%{
		-webkit-transform:scaleY(1.2) translateX(10px);
		opacity: 1;
	}
	100%{
		-webkit-transform:scaleY(0.05) translateX(-10px);
		opacity: 0.1;
	}
}
/*loading7动画*/
@-webkit-keyframes loading7{
	0%{
		-webkit-transform:scaleY(0.05) translateX(-5px);
	}
	10%{
		background-color: #56d7c6;
	}
	15%{
		-webkit-transform:scaleY(1.2) translateX(10px);
		background-color: #b96cff;
	}
	90%,100%{
		-webkit-transform:scaleY(0.05) translateX(-5px);
	}
}

/*loading8动画*/
@-webkit-keyframes loading8{
	0%{
		-webkit-transform:translate(-50%,-50%) rotate(0deg);
	}
	50%{
		-webkit-transform:translate(-50%,-50%) rotate(360deg);
		border-color: transparent transparent rgba(255,255,255,0.1) #ffffff;
	}
	75%{
		border-color: rgba(255,255,255,0.1) transparent transparent #56d7c6;
	}
	100%{
		-webkit-transform:translate(-50%,-50%) rotate(0deg);
	}
}



/*loading1*/
#loading1{
	position: relative;
	top: 50px;left: 50px;
	width: 50px;
	height: 50px;
	border: 8px solid rgba(255,255,255,.5);
	border-left:8px solid #fff;
	border-radius: 100%;
	-webkit-animation:rotate 1s linear infinite;
}

/*loading2*/
#loading2{
	position: absolute;
	top: 60px;left: 200px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #ffffff;
	-webkit-animation: fadeOut 1.5s ease-in-out infinite;
}

/*loading3*/
#loading3{
	width: 70px;
	height:50px;
	position: absolute;
	top:60px;left: 300px;
	text-align: center;
}
#loading3>div{
	width: 6px;
	height: 100%;
	display: inline-block;
	background-color: #ffffff;
	-webkit-animation:strechdelay 1.2s ease-in-out infinite;
	animation:strechdelay 1.2s ease-in-out infinite;
}
#loading3 .line2{
	-webkit-animation-delay:-1.1s;
}
#loading3 .line3{
	-webkit-animation-delay:-1.0s;
}
#loading3 .line4{
	-webkit-animation-delay:-0.9s;
}
#loading3 .line5{
	-webkit-animation-delay:-0.8s;
}


/*loading4*/
#loading4{
	position: absolute;
	top: 60px; left:450px;
	width: 70px;
	height: 70px;
	text-align: center;
	-webkit-animation:spin 5s ease-in-out infinite;
	animation:spin 5s ease-in-out infinite;
}

.big ,.small{
	position: absolute;
	left: 0;
	right: 0;
	margin:0 auto;
	border-radius: 100%;
	background-color: #ffffff;
}
.big{
	width: 20px;
	height: 20px;
	top:-10px;
	-webkit-animation:getsmaller 5s ease-in-out infinite;
	animation:getsmaller 5s ease-in-out infinite;
}
.small{
	width: 8px;
	height: 8px;
}
.s1{
	top:0;
	background-color: #ffffff;
	-webkit-animation:drop 5s ease-in-out infinite;
	animation:drop 5s ease-in-out infinite;
}
.s2{
	top:40px;
    -webkit-animation:getbigger 5s ease-in-out infinite;
    animation:getbigger 5s ease-in-out infinite;
}
/*loading4动画*/
@-webkit-keyframes spin{
	0%,40%{
		-webkit-transform:rotate(0deg);
	}
	50%,90%{
		-webkit-transform:rotate(180deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}
@-webkit-keyframes getsmaller{
	0%,15%,75%,78%,100%{
		-webkit-transform:none;
	}
	25%,74%{
		-webkit-transform:scale(0.4);
	}
	76%{
		-webkit-transform:translateY(-2px);
	}
}
@-webkit-keyframes getbigger{
	0%,24%,75%,100%{
		-webkit-transform:scale(0.4);
	}
	26%{
		-webkit-transform:scale(1) translateY(2px);
	}
	25%,28%,65%{
		-webkit-transform:none;
	}
}
@-webkit-keyframes drop{
	0%,10%,74%,100%{
		-webkit-transform:none;
	}
	23%{
		-webkit-transform:translateY(6px);
	}
	73%{
		-webkit-transform:translateY(36px);
	}
	24%,60%{
		-webkit-transform:translateY(42px);
	}
}


/*loading5*/
#loading5{
	position: absolute;
	top:60px; left: 600px;
	line-height: 30px;
}
.bigSqr{
	display: inline-block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	-webkit-transform-origin:bottom left;
	-webkit-animation:bigSqrShrink 1.8s ease-in-out infinite;
}
.text{
	text-align: center;
	color:#ffffff;
	font-family: "Microsoft yahei";

}
.squre{
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #ffffff;
}
.first{
	left:0;
	top:0;
	-webkit-animation:drop1 1.8s linear infinite;
}
.second{
	left:25px;
	top: 0;
	-webkit-animation:drop2 1.8s linear infinite;
}
.third{
	left: 0;
	top: 25px;
}
.fourth{
	left: 25px;
	top: 25px;
	-webkit-animation:drop4 1.8s linear infinite;
}

/*loading6*/
#loading6{
	position:absolute;
	top:60px; left: 750px;
	width: 80px;
	height: 70px;
}
#loading6>div{
	float: left;
	width: 6px;
	height: 40px;
	margin:10px 1px 10px 1px;
	background-color: #ffffff;
	-webkit-animation:loading6 1.5s ease-in-out infinite;
	animation:loading6 1.5s ease-in-out infinite;
}
#loading6 .shaft1{
	-webkit-animation-delay:0.05s;
}
#loading6 .shaft2{
	-webkit-animation-delay:0.10s;
}
#loading6 .shaft3{
	-webkit-animation-delay:0.15s;
}
#loading6 .shaft4{
	-webkit-animation-delay:0.20s;
}
#loading6 .shaft5{
	-webkit-animation-delay:0.25s;
}
#loading6 .shaft6{
	-webkit-animation-delay:0.30s;
}
#loading6 .shaft7{
	-webkit-animation-delay:0.35s;
}
#loading6 .shaft8{
	-webkit-animation-delay:0.40s;
}
#loading6 .shaft9{
	-webkit-animation-delay:0.45s;
}
#loading6 .shaft10{
	-webkit-animation-delay:0.50s;
}

/*loading7*/
#loading7{
	position: absolute;
	top: 60px; left: 900px;
	width: 80px;
	height: 70px;
}
#loading7>div{
	float: left;
	width: 6px;
	height: 40px;
	margin:10px 1px 10px 1px;
	background-color: #ffffff;
	-webkit-animation:loading7 1.5s ease infinite;
	animation:loading6 1.5s ease infinite;
}
#loading7 .shaft1{
	-webkit-animation-delay:0.05s;
}
#loading7 .shaft2{
	-webkit-animation-delay:0.10s;
}
#loading7 .shaft3{
	-webkit-animation-delay:0.15s;
}
#loading7 .shaft4{
	-webkit-animation-delay:0.20s;
}
#loading7 .shaft5{
	-webkit-animation-delay:0.25s;
}
#loading7 .shaft6{
	-webkit-animation-delay:0.30s;
}
#loading7 .shaft7{
	-webkit-animation-delay:0.35s;
}
#loading7 .shaft8{
	-webkit-animation-delay:0.40s;
}
#loading7 .shaft9{
	-webkit-animation-delay:0.45s;
}
#loading7 .shaft10{
	-webkit-animation-delay:0.50s;
}

/*loading8*/
#loading8{
	position: absolute;
	top: 90px; left: 1100px;
	width: 80px;
	height: 70px;
}
#loading8>div{
	position: absolute;
    background-color: transparent;
    border: 4px solid transparent;
    border-color: transparent transparent transparent #b96cff;
	border-radius: 100%;
	text-align: center;
	-webkit-animation:loading8 2s ease-in-out infinite;
	animation:loading8 2s ease-in-out infinite;
}
#loading8 .shaft1{
	-webkit-animation-delay:0.05s;
	width: 20px;
	height: 20px;
}
#loading8 .shaft2{
	-webkit-animation-delay:0.10s;
	width: 25px;
	height: 25px;
}
#loading8 .shaft3{
	-webkit-animation-delay:0.15s;
	width: 30px;
	height: 30px;
}
#loading8 .shaft4{
	-webkit-animation-delay:0.20s;
	width: 35px;
	height: 35px;
}
#loading8 .shaft5{
	-webkit-animation-delay:0.25s;
	width: 40px;
	height: 40px;
}
#loading8 .shaft6{
	-webkit-animation-delay:0.30s;
	width: 45px;
	height: 45px;
}
#loading8 .shaft7{
	-webkit-animation-delay:0.35s;
	width: 50px;
	height: 50px;
}
#loading8 .shaft8{
	-webkit-animation-delay:0.40s;
	width: 55px;
	height: 55px;
}
#loading8 .shaft9{
	-webkit-animation-delay:0.45s;
	width: 60px;
	height: 60px;
}
#loading8 .shaft10{
	-webkit-animation-delay:0.50s;
	width: 65px;
	height: 65px;
}

/*loading9*/
#loading9{
	position:absolute;
	top:60px; left: 1200px;
	width: 80px;
	height: 70px;
}
#loading9>div{
	float: left;
	width: 6px;
	height: 40px;
	margin:10px 1px 10px 1px;
	background-color: #ffffff;
	-webkit-transform-origin:bottom center;
	-webkit-animation:loading9 1.5s ease-in-out infinite;
	animation:loading9 1.5s ease-in-out infinite;
}
#loading9 .shaft1{
	-webkit-animation-delay:0.1s;
}
#loading9 .shaft2{
	-webkit-animation-delay:0.2s;
}
#loading9 .shaft3{
	-webkit-animation-delay:0.3s;
}
#loading9 .shaft4{
	-webkit-animation-delay:0.4s;
}
#loading9 .shaft5{
	-webkit-animation-delay:0.5s;
}
#loading9 .shaft6{
	-webkit-animation-delay:0.6s;
}
#loading9 .shaft7{
	-webkit-animation-delay:0.7s;
}
#loading9 .shaft8{
	-webkit-animation-delay:0.8s;
}
#loading9 .shaft9{
	-webkit-animation-delay:0.9s;
}
#loading9 .shaft10{
	-webkit-animation-delay:1s;
}

/*loading9 动画*/
@-webkit-keyframes loading9{
	0%{
		-webkit-transform:scaleY(0.05);
		background-color: transparent;
		background-color: #ffffff;
	}
	50%{
		-webkit-transform:scaleY(1);
		background-color: #b96cff;

	}
	100%{
		-webkit-transform:scaleY(0.05);
		background-color: transparent;
	}
}


/*loading10*/
#loading10{
	position:absolute;
	top:200px; left: 50px;
	width: 80px;
	height: 70px;
}
#loading10>div{
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	margin:10px 1px 10px 1px;
	background-color: #ffffff;
	-webkit-animation:loading10 1s ease-in-out infinite;
	animation:loading10 1s ease-in-out infinite;
}
#loading10 .shaft1{
	-webkit-animation-delay:0.1s;
}
#loading10 .shaft2{
	-webkit-animation-delay:0.2s;
}
#loading10 .shaft3{
	-webkit-animation-delay:0.3s;
}
#loading10 .shaft4{
	-webkit-animation-delay:0.4s;
}
#loading10 .shaft5{
	-webkit-animation-delay:0.5s;
}
#loading10 .shaft6{
	-webkit-animation-delay:0.6s;
}
#loading10 .shaft7{
	-webkit-animation-delay:0.7s;
}

/*loading10动画*/
@-webkit-keyframes loading10{
	0%{
		-webkit-transform:translateX(-6px);
		background-color: #ffffff;
	}
	50%{
		-webkit-transform:translateX(6px);
		background-color: #b96cff;
	}
	100%{
		-webkit-transform:translateX(-6px);
		background-color: #ffffff;

	}
}

/*loading11*/
#loading11{
	position:absolute;
	top:200px; left: 200px;
	width: 160px;
	height: 70px;
}
#loading11>div{
	float: left;
	width: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: thin;
	color: #222242;
	margin:10px 1px 10px 1px;
	background-color: #ffffff;
	-webkit-animation:loading11 1.5s ease-in-out infinite;
	animation:loading11 1.5s ease-in-out infinite;
}
#loading11 .shaft1{
	-webkit-animation-delay:0.1s;
}
#loading11 .shaft2{
	-webkit-animation-delay:0.2s;
}
#loading11 .shaft3{
	-webkit-animation-delay:0.3s;
}
#loading11 .shaft4{
	-webkit-animation-delay:0.4s;
}
#loading11 .shaft5{
	-webkit-animation-delay:0.5s;
}
#loading11 .shaft6{
	-webkit-animation-delay:0.6s;
}
#loading11 .shaft7{
	-webkit-animation-delay:0.7s;
}
/*loading11 动画*/
@-webkit-keyframes loading11{
	0%{
		background-color: #ffffff;
	}
	50%{
		background-color: transparent;
		border: 1px solid #ffffff;
		color: #ffffff;
	}
	100%{
		background-color: #ffffff;
		border: none;
		color: #222242;
	}

}

/*loading12*/
#loading12{
	position:absolute;
	top:200px; left: 450px;
	width: 80px;
	height: 80px;
	/*-webkit-perspective:200px;*/
}
#loading12 .squre{
	margin:0px 20px 0px 20px;
	width:35px;
	height: 35px;
	background-color: transparent;
	border: 1px solid #ffffff;
	/*-webkit-perspective:200px;*/
	-webkit-animation:loading12 1.5s ease-in-out infinite;
	animation:loading12 1.5s ease-in-out infinite;
}
#loading12 .smallSqure{
	width: 20px;
	height: 20px;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,0.5);
	margin-left:28px;
	margin-top:7px;
	/*-webkit-perspective:200px;*/
    -webkit-animation:loading12 1.5s ease-in-out infinite;
    -webkit-animation-delay:0.5s;
	animation:loading12 1.5s ease-in-out infinite;
	animation-delay:0.5s;

}
 #loading12 .text{
 	position: relative;
 	top: 20px;
 	display: block;
    text-align: center;

}

/*loading12动画*/
@-webkit-keyframes loading12{
	0%{
       -webkit-transform: rotate(0deg);
	}
	50%{
		-webkit-transform:rotateY(180deg);
	}
	100%{
		-webkit-transform: rotateY(-180deg) rotateX(180deg);
	}
}

/*loading13*/
#loading13{
	position:absolute;
	top:190px; left: 600px;
}
#loading13 .bird{
	background-image: url("../imgs/twitter-bird-sprite-e0FhFKaXRI.fw.png");
	width: 75px;
	height: 75px;
	position:relative;
	background-size: cover;
	-webkit-animation:fly .3s step-end infinite;
	animation:fly .3s step-end infinite;
}
/*loading13动画*/
@-webkit-keyframes fly{
	0%{
		background-position: 0,0;
	}
	33%{
		background-position: -225px,0;
	}
	66%{
		background-position: -450px,0;
	}
	100%{
		background-position: -675px,0
	}
}

/*loading14*/
#loading14{
	position: absolute;
	top: 200px;
	left:750px;
	/*width: 50px;
	height: 50px;
	border:1px solid #ffffff;
	border-radius: 100%;*/
}
#loading14 .moon{
	width: 35px;
	height: 35px;
	background-color: rgba(255,255,255,0.5);
	margin:12px 12px;
	border-radius: 100%;

	/*-webkit-animation:colorChange 2s ease-in-out infinite;*/
}
#loading14 .rock{
	position: absolute;
	top: -5px;left: -5px;
	width: 10px;
	height: 23px;
	background-image: url("../imgs/eMq5Gds.png");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transform-origin:35px 35px;
	-webkit-animation:rockMove 3s linear infinite;
	animation:rockMove 3s linear infinite;
}
/*loading14动画*/
@-webkit-keyframes colorChange{
	0%{
		background-color: #00cc99;
	}
	25%{
		background-color: #ff6600;
	}
	50%{
		background-color: #00ccff
	}

	100%{
		background-color: #ffffff;
	}
}
@-webkit-keyframes rockMove{
	0%{
		-webkit-transform:rotate(0deg);
	}
	
	100%{
		-webkit-transform:rotate(720deg);
	}
}

/*loading15*/
#loading15{
	position: absolute;
	top: 200px;
	left:900px;
	width: 60px;
	height: 60px;
	border-bottom: 2px solid #fff;
	background-color: rgba(0,0,0,0.5);
}
#loading15>div{
	position: relative;
	top: 50px;left: 4px;
	float: left;
	width:10px;
	height: 10px;
	border:1px solid transparent;
	border-radius: 50%;
	-webkit-animation:loading15 1.5s linear infinite;
	animation:loading15 1.5s linear infinite;
}

#loading15 .circle1{
	-webkit-animation-delay:1s;
	width: 8px;
	height: 8px;
}
#loading15 .circle2{
	-webkit-animation-delay:0.4s;
	width: 6px;
	height: 6px;
}
#loading15 .circle3{
	-webkit-animation-delay:1.6s;
	width: 15px;
	height: 15px;
}
#loading15 .circle4{
	-webkit-animation-delay:2.8s;
	width: 5px;
	height: 5px;
}
#loading15 .circle5{
	-webkit-animation-delay:2.2s;
	width: 10px;
	height: 10px;
}
#loading15 .circle6{
	-webkit-animation-delay:3.8s;
	width: 12px;
	height: 12px;
}


@-webkit-keyframes loading15{
	0%{
		-webkit-transform:translateY(0px) translateX(-6px);
	}
	50%{
		-webkit-transform:translateY(-40px) translateX(0px);
		border: 1px solid rgba(255,255,255,0.9);
		background-color: rgba(255,255,255,0.1);
	}
	100%{
		-webkit-transform:translateY(-80px) translateX(4px);
		border: 1px solid transparent;
	}
}

/*loading16*/
#loading16{
	position: absolute;
	top: 200px;
	left:1050px;
	width: 70px;
	height: 70px;
	/*overflow: hidden;*/
	border-top: 3px solid #fff;
	/*background-color: rgba(0,0,0,0.5);*/
}
#loading16 .clock{
	position: relative;
	left: 18px;
}

#loading16 .clock .stick{
	/*margin-left: 1px;*/
	height: 50px;
	border-right: 1px solid #fff;
	float: left;
}
#loading16 .clock .circle{
	position:relative;
	top: 50px; left:-6px;
	float: left;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 100%;
    background-color: rgba(255,255,255,.1);
}
#loading16 .clock1{
	position: absolute;
	left: 30px;top: 1px;
	-webkit-transform-origin:top center;
	-webkit-transform:rotateZ(20deg);
	transform:rotateZ(20deg);
	transform-origin:top center;
	-webkit-animation:crach1 1.8s cubic-bezier(0.25,0.86,0.86,1.0) infinite;
}
#loading16 .clock2{
	position: absolute;
	left: 32px;
	-webkit-transform-origin:top center;
	-webkit-transform:rotateZ(10deg);
	transform:rotateZ(10deg);
	transform-origin:top center;
}
#loading16 .clock3{
	position: absolute;
	left: 34px; top: -1px;
	-webkit-transform-origin:top center;
	-webkit-transform:rotateZ(deg);
	transform:rotateZ(0deg);
	transform-origin:top center;
}
#loading16 .clock4{
	position: absolute;
	left: 36px; top:-2px;
	-webkit-transform-origin:top center;
	-webkit-transform:rotateZ(-10deg);
	transform:rotateZ(-10deg);
	transform-origin:top center;
}
#loading16 .clock5{
	position: absolute;
	left: 38px;top: -3px;
	-webkit-transform-origin:top center;
	-webkit-transform:rotateZ(-20deg);
	transform:rotateZ(-20deg);
	transform-origin:top center;
	-webkit-animation:crach2 1.8s  cubic-bezier(0.25,0.86,0.86,1.0) infinite;
	-webkit-animation-delay:0.4s;
}

/*loding16动画*/
@-webkit-keyframes crach1{
	0%{
	     -webkit-transform:rotateZ(50deg);
	     transform:rotateZ(50deg);
	}
	
	20%,60%{
		-webkit-transform:rotateZ(20deg);
	     transform:rotateZ(20deg);
	}
	
	100%{
		-webkit-transform:rotateZ(50deg);
	     transform:rotateZ(50deg);
	}
}
@-webkit-keyframes crach2{
	0%{
	     -webkit-transform:rotateZ(-20deg);
	     transform:rotateZ(-20deg);
	}
	20%{
		-webkit-transform:rotateZ(-50deg);
	     transform:rotateZ(-50deg);
	}
	45%{
		-webkit-transform:rotateZ(-20deg);
	     transform:rotateZ(-20deg);
	}
	100%{
		-webkit-transform:rotateZ(-20deg);
	     transform:rotateZ(-20deg);
	}
}

/*loading17*/
#loading17{
	position: absolute;
	top: 200px;
	left:1200px;
	width: 70px;
	height: 70px;
}
#loading17 .infinity{
	position: relative;
	width: 65px;
	height: 29px;
	/*background-color: red;*/
	-webkit-animation:spin 2s cubic-bezier(0.86,0,0.07,1) infinite;
}
#loading17 .text{
	position: absolute;
	top:50px;left: 5px;
	color: #fff;
	text-align: center;
}
#loading17 .infinity:before,
#loading17 .infinity:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	width: 15px;
	height: 15px;
	border:7px solid #aaa;
	border-radius: 50% 50% 50% 0;
	-webkit-transform:rotateZ(-135deg);
	transform:rotateZ(-135deg);
}
#loading17 .infinity:before{
	-webkit-animation:left 1s infinite alternate cubic-bezier(0.86,0,0.07,1.0),
	morph 1s infinite alternate cubic-bezier(0.86,0,0.07,1.0);

}
#loading17 .infinity:after{
	left: auto;
	right: 0;
	border-radius: 50% 50% 50% 0;
	-webkit-transform:rotateZ(45deg);
	transform:rotateZ(45deg);
	-webkit-animation:right 1s infinite alternate cubic-bezier(0.86,0,0.07,1.0),
	morph 1s infinite alternate cubic-bezier(0.86,0,0.07,1.0);
}
/*loading17动画*/
@-webkit-keyframes morph{
	from{
		border-radius: 50%;
	}
}
@-webkit-keyframes left{
	from{
		left: 18px;
	}
}
@-webkit-keyframes right{
	from{
		right: 18px;
	}
}
@-webkit-keyframes spin{
	from{
		-webkit-transform:rotate(540deg);
	}
}

/*loading18*/
#loading18{
	position: absolute;
	top: 320px;
	left:50px;
}
#loading18 .waterWave{
	width:70px;
	height: 70px;
	border: 1px solid #fff;
	border-radius: 100%;
	background-image: url("../imgs/wave.png") ;
	background-size: 80px 160px;
	background-position:15px 15px;
	background-repeat: repeat-x;

	-webkit-animation:wave 12s linear infinite;
	animation:wave 12s linear infinite;
}
/*loading18 animation*/
@-webkit-keyframes wave{
	0%{
		background-position: 13px 13px;
	}
	50%{
		background-position: -70px -40px;	}
	100%{
		background-position: -20px -48px;

	}
}

/*loading19*/
#loading19{
	position: absolute;
	top: 310px;
	left:220px;
	width: 70px;
	height: 70px;

	-webkit-perspective:800px;
	-webkit-perspective-origin:50% 50%;
}
#loading19 .cube{
     position:absolute;
     top:15px; left: 15px;
    -webkit-transform:rotateX(-45deg) rotateY(-45deg);
    -webkit-transform-style: preserve-3d;
    -webkit-animation:rotateSquer 2.5s linear infinite;
}
#loading19 p{
	position: relative;
	top: 55px; left: -10px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	letter-spacing: 1px;
}

#loading19 .cube .squre{
	width:20px;
	height:20px;
	background: transparent;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

#loading19 .squre_front{
	border: 1px solid  #fff;
}

#loading19 .squre_back{
	border: 1px solid #fff;
    -webkit-transform:translateZ(-20px);
}

#loading19 .squre_top{
	border: 1px solid #fff;
	border-top: none;
	border-bottom: none;
	-webkit-transform:translateY(-20px) rotateX(90deg);
	-webkit-transform-origin:bottom center;

}
#loading19 .squre_bottom{
	border: 1px solid  #fff;
	border-top: none;
	border-bottom: none;
	-webkit-transform-origin:bottom center;
	-webkit-transform:rotateX(90deg);
}

#loading19 .squre_left{
	-webkit-transform-origin:left center;
	-webkit-transform:rotateY(90deg);
}
#loading19 .squre_right{
	-webkit-transform-origin:right center;
	-webkit-transform:rotateY(-90deg);
}

/*loading19animation*/
@-webkit-keyframes rotateSquer{
	0%{-webkit-transform:rotateX(0deg) rotateY(0deg) ;-webkit-transform-origin: 10px 10px;}
	100%{-webkit-transform:rotateX(360deg) rotateY(360deg) ;-webkit-transform-origin: 5px 10px; }
}


/*loading20*/
#loading20{
	position: absolute;
	top: 320px;
	left:350px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
    background-color: rgba(0,0,0,.5);
}

#loading20 .squre{
    position:absolute;
    top:22px; left: 26px;
	width: 15px;
	height:15px;
	border: 4px solid #ffffff;
	background-color: transparent;
	-webkit-transform:rotateZ(45deg);
}
#loading20 .squre1{
	border-bottom: none;
	border-right: none;
	-webkit-animation:squer1 2.5s linear infinite;
	-webkit-animation-direction:alternate;
}
#loading20 .squre2{
	border-top: none;
	border-left: none;
	-webkit-animation:squer2 2.5s linear infinite;
	-webkit-animation-direction:alternate;
}

/*loading20animation*/
@-webkit-keyframes squer1{
	0%{
		-webkit-transform:translateX(0px) rotateZ(45deg);
	}
	25%{
		-webkit-transform:translateX(-13px) rotateZ(45deg);
	}
	75%{
		-webkit-transform:rotateX(180deg)  rotateZ(45deg);
	}
    100%{
    	-webkit-transform:translateX(0px) rotateZ(90deg);
    }
}
@-webkit-keyframes squer2{
	0%{
		-webkit-transform:translateX(0px) rotateZ(45deg);
	}
	 25%{
	       -webkit-transform:translateX(8px) rotateZ(45deg);
	}
	75%{
		-webkit-transform:rotateX(180deg) rotateZ(45deg);
	} 
	100%{
		-webkit-transform:translateX(0px) rotateZ(90deg)
	} 
}

/*loading21*/
#loading21{
	position: absolute;
	top: 320px;
	left:500px;
	width: 70px;
	height: 70px;
    /*background-color: rgba(0,0,0,.5);*/
}
#loading21 .gradient{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px -25px;
	width: 50px;
	height:50px;
	border:1px solid #ffffff;
	border-radius: 100%;
	box-shadow: 0 0 0 2px white inset,
	            0 -5px 20px 5px rgba(255,0,0,0.5) inset,
	            0 0 20px 5px rgba(0,255,0,0.5) inset,
	            0 5px 20px 5px rgba(0,0,255,0.5) inset,
	            0 5px 20px 5px rgba(255,0,0,0.5),
	            0 0 20px 5px rgba(0,255,0,0.5),
	            0 -5px 20px 5px rgba(0,0,255,0.5);

	            -webkit-animation:gradient 1s linear infinite;
}
/*loading21*/
@-webkit-keyframes gradient{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}




